<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CA_background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,534}}</string>
                <key>sourceSize</key>
                <string>{320,534}</string>
            </dict>
            <key>CA_background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{320,422}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{320,422}}</string>
                <key>sourceSize</key>
                <string>{320,534}</string>
            </dict>
            <key>CA_background_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,534}}</string>
                <key>sourceSize</key>
                <string>{320,534}</string>
            </dict>
            <key>CA_background_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,748},{174,266}}</string>
                <key>offset</key>
                <string>{-1,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,72},{174,266}}</string>
                <key>sourceSize</key>
                <string>{320,534}</string>
            </dict>
            <key>CA_background_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,324},{270,422}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{270,422}}</string>
                <key>sourceSize</key>
                <string>{320,534}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheetBackground1.pvr</string>
            <key>size</key>
            <string>{860,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c6354fd34ae2f73195dd3dbdd7a9b89$</string>
            <key>textureFileName</key>
            <string>sheetBackground1.pvr</string>
        </dict>
    </dict>
</plist>
