<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AL_H_flat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,26}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,62},{92,26}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>AL_H_happy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,178},{84,60}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{84,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>AL_H_hero_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{84,60}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{84,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>AL_H_hero_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,80},{72,68}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{72,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>AL_H_hero_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,240},{78,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{78,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>AL_H_hero_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{82,62}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{82,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>AL_H_hero_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,56},{86,58}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{86,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>AL_H_hero_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{86,54}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,34},{86,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>AL_H_hero_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{90,52}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{90,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>AL_H_hero_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{88,56}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,32},{88,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>AL_H_hero_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,116},{84,60}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{84,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>AL_H_hero_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,216},{80,62}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{80,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>AL_H_hero_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,150},{78,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{78,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>AL_H_hero_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{76,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{76,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheetHero-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:623bb68468bf63b710dee305ee39b991$</string>
            <key>textureFileName</key>
            <string>sheetHero-hd.png</string>
        </dict>
    </dict>
</plist>
