<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AL_H_flat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,14}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{46,14}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>AL_H_happy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,84},{42,30}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{42,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>AL_H_hero_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{42,30}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{42,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>AL_H_hero_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,92},{36,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{36,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>AL_H_hero_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,128},{40,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{40,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>AL_H_hero_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,50},{42,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{42,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>AL_H_hero_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,18},{44,30}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{44,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>AL_H_hero_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{44,28}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{44,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>AL_H_hero_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,26}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{46,26}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>AL_H_hero_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{44,28}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{44,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>AL_H_hero_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,48},{42,30}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{42,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>AL_H_hero_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,116},{40,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{40,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>AL_H_hero_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{40,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{40,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>AL_H_hero_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{38,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{38,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheetHero.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92eab99348b8e9e49ab017a785ce1393$</string>
            <key>textureFileName</key>
            <string>sheetHero.png</string>
        </dict>
    </dict>
</plist>
