<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CA_background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,1067}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1067}}</string>
                <key>sourceSize</key>
                <string>{640,1067}</string>
            </dict>
            <key>CA_background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1071},{640,843}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,107},{640,843}}</string>
                <key>sourceSize</key>
                <string>{640,1067}</string>
            </dict>
            <key>CA_background_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1067}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1067}}</string>
                <key>sourceSize</key>
                <string>{640,1067}</string>
            </dict>
            <key>CA_background_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1489},{348,531}}</string>
                <key>offset</key>
                <string>{-2,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,144},{348,531}}</string>
                <key>sourceSize</key>
                <string>{640,1067}</string>
            </dict>
            <key>CA_background_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,644},{538,843}}</string>
                <key>offset</key>
                <string>{-2,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,51},{538,843}}</string>
                <key>sourceSize</key>
                <string>{640,1067}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheetBackground1-hd.pvr</string>
            <key>size</key>
            <string>{1713,2022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4466f6db7da240972ecbb690a0f611f$</string>
            <key>textureFileName</key>
            <string>sheetBackground1-hd.pvr</string>
        </dict>
    </dict>
</plist>
