<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>group1</key>
	<integer>200</integer>
	<key>group2</key>
	<integer>300</integer>
	<key>group3</key>
	<integer>400</integer>
	<key>group4</key>
	<integer>500</integer>
	<key>group5</key>
	<integer>600</integer>
	<key>group6</key>
	<integer>700</integer>
	<key>group7</key>
	<integer>800</integer>
	<key>group8</key>
	<integer>900</integer>
	<key>group9</key>
	<integer>1000</integer>
	<key>group10</key>
	<integer>1100</integer>
</dict>
</plist>
