<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debug</key>
	<dict>
		<key>showMeTheMoneyEnabled</key>
		<true/>
		<key>levelEditorEnabled</key>
		<true/>
		<key>gameSpeedEditorEnabled</key>
		<false/>
		<key>forceReloadUserData</key>
		<true/>
		<key>hasHeadStart</key>
		<false/>
		<key>physicsDebug</key>
		<false/>
	</dict>
	<key>common</key>
	<dict>
		<key>magicFrequence</key>
		<real>0.3</real>
		<key>starMultiplier</key>
		<integer>2</integer>
		<key>velocityCalibrationRatio</key>
		<real>0.7</real>
		<key>minCalibrationVelocity</key>
		<real>0.3</real>
		<key>starWait</key>
		<integer>2</integer>
		<key>headstartDuration</key>
		<integer>5</integer>
		<key>shieldDuration</key>
		<integer>10</integer>
		<key>absorbDuration</key>
		<integer>10</integer>
		<key>objectInitialSpeed</key>
		<integer>3</integer>
		<key>objectInitialSpeedIncreaseUnit</key>
		<real>0.25</real>
		<key>objectInitialSpeedIncreaseMax</key>
		<integer>3</integer>
		<key>scrollSpeed</key>
		<real>-0.3</real>
		<key>scrollSpeedIncreaseUnit</key>
		<real>0.25</real>
		<key>scrollSpeedIncreaseMax</key>
		<integer>3</integer>
		<key>dropRate</key>
		<real>0.015</real>
		<key>dropRateIncreaseUnit</key>
		<real>0.4</real>
		<key>dropRateIncreaseMax</key>
		<integer>2</integer>
		<key>levelTransitionDelay</key>
		<integer>0</integer>
		<key>scoreUnit</key>
		<real>0.015</real>
	</dict>
	<key>board</key>
	<dict>
		<key>freqL</key>
		<real>1.5</real>
		<key>freqM</key>
		<real>1.2</real>
		<key>freqR</key>
		<real>1.5</real>
		<key>dampL</key>
		<integer>1</integer>
		<key>dampM</key>
		<integer>1</integer>
		<key>dampR</key>
		<integer>1</integer>
		<key>friction</key>
		<integer>1</integer>
	</dict>
	<key>hero</key>
	<dict>
		<key>velocityAccRatio</key>
		<real>1.3</real>
		<key>heroRadius</key>
		<integer>11</integer>
		<key>heroMass</key>
		<integer>15</integer>
		<key>heroI</key>
		<integer>1</integer>
		<key>heroFric</key>
		<real>0.5</real>
		<key>heroMaxVx</key>
		<integer>15</integer>
		<key>heroMaxVy</key>
		<integer>26</integer>
		<key>heroAcc</key>
		<integer>7</integer>
		<key>heroJump</key>
		<integer>450</integer>
		<key>heroGravity</key>
		<integer>150</integer>
		<key>freezeSpeed</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
